[submodule "mode/server/sourcegraph"]
	path = mode/server/sourcegraph
	url = git@github.com:mscratch/sourcegraph-docker.git
[submodule "mode/server/mediawiki"]
	path = mode/server/mediawiki
	url = git@github.com:mscratch/mediawiki-docker.git
[submodule "mode/server/miniflux"]
	path = mode/server/miniflux
	url = git@github.com:mscratch/miniflux-docker.git
[submodule "mode/server/caddy"]
	path = mode/server/caddy
	url = git@github.com:mscratch/caddy-dist.git
